In [2]:
# CSV 파일 불러오기
import pandas as pd
df_housingdata = pd.read_csv("housingdata.csv")
df_housingdata

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [23]:
# Filtered_housingdata 불러오기
import pandas as pd
df_filtered_housingdata = pd.read_csv("filtered_housingdata.csv")
df_filtered_housingdata

        CRIM    NOX   AGE
0    0.00632  0.538  65.2
1    0.02731  0.469  78.9
2    0.02729  0.469  61.1
3    0.03237  0.458  45.8
4    0.06905  0.458  54.2
..       ...    ...   ...
501  0.06263  0.573  69.1
502  0.04527  0.573  76.7
503  0.06076  0.573  91.0
504  0.10959  0.573  89.3
505  0.04741  0.573   NaN

[506 rows x 3 columns]

In [13]:
# 데이터 구조 확인_데이터 타입 확인_(칼럼 수, non-null 수, 데이터 타입)
data_info = df_filtered_housingdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CRIM    486 non-null    float64
 1   NOX     506 non-null    float64
 2   AGE     486 non-null    float64
dtypes: float64(3)
memory usage: 12.0 KB

In [14]:
# 자료의 상위 5개만 추출_head()
data_head = df_filtered_housingdata.head()
data_head

      CRIM    NOX   AGE
0  0.00632  0.538  65.2
1  0.02731  0.469  78.9
2  0.02729  0.469  61.1
3  0.03237  0.458  45.8
4  0.06905  0.458  54.2

In [15]:
# nulls 개수 확인_isnull().sum()
data_nulls = df_filtered_housingdata.isnull().sum()
data_nulls

CRIM    20
NOX      0
AGE     20
dtype: int64

In [29]:
# 결측치 처리_행 제거(데이터 손실 발생 40개)
# NaN이 입력된 값에 다른 값을 대체하는 순간 신뢰성이 떨어진다고 판단해서 "제거"로 결측치를 처리함
df_filtered_housingdata_dropped_rows = df_filtered_housingdata.dropna()
df_filtered_housingdata_dropped_rows

        CRIM    NOX   AGE
0    0.00632  0.538  65.2
1    0.02731  0.469  78.9
2    0.02729  0.469  61.1
3    0.03237  0.458  45.8
4    0.06905  0.458  54.2
..       ...    ...   ...
500  0.22438  0.585  79.7
501  0.06263  0.573  69.1
502  0.04527  0.573  76.7
503  0.06076  0.573  91.0
504  0.10959  0.573  89.3

[466 rows x 3 columns]